#page-landing{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}


#page-landing .content-wrap{
    position: relative;
    width: 100%;
    max-width: 1100px;

    height: 100%;
    max-height: 528px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    background: url('../../images/landing.svg')80% center/430px no-repeat;
}

#page-landing .content-wrap main{
    max-width: 350px;
}

#page-landing .content-wrap main h1{
    font-size: 66px;
    font-weight: 900;
    line-height: 68px;
}

#page-landing .content-wrap main p{
    margin-top: 17.9px;
    font-size: 24px;
    line-height: 34px;
}

.content-wrap .location{
    position: absolute;
    right: 0;
    top: 0;

    font-size: 24px;
    line-height: 34px;

    display: flex;
    flex-direction: column;

    text-align: right;
}

.content-wrap .location strong{
    font-weight: 800;
}

.content-wrap .enter-app{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 80px;
    height: 80px;
    background: #ffd666;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s;
}

.content-wrap .enter-app:hover{
    background: #96FEFF;
}